.body {
    background-color: #FFFBF5;
    color: #59473E;
    padding: 0;
    margin: 0;
}

.article-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
}

.article-text {
    text-align: left;
    white-space: pre-line;
    margin-top: -30px;
}

/* Dark Pattern Styles */
.sale-container {
    background-color: #FFEE00;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 5;
}
.sale-close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.sale-text {
    display: flex;
    font-family: Impact sans-serif;
    padding-left: 40px;
}
.sale-message {
    color: #3F26CB;
    font-size: 40px;
}
.sale-timer {
    color: #00EDAE;
    font-size: 60px;
    height: 20px;
    text-wrap: nowrap;
}
.progress-bar {
    width: 100%; /* This should change dynamically way faster than "10 minutes" */
    height: 20px;
    background-color: #D32727;
}

.cookie-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #958177;
    border-radius: 12px;
    max-width: 20%;
    padding: 10px;
    font-family: Avenir, sans-serif;
    color: white;
}
.cookie-title {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.cookie-refuse {
    font-size: 12px;
    cursor: pointer;
}
.cookie-allow {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.popup-container {
    width: 40%;
    border-radius: 12px;
    position: absolute;
    top: 120%;
    left: 27%;
    padding: 20px;
    background-color: #D9D9D9;
    color: black;
}

.cookie-secondary-container {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: #958177;
    border-radius: 12px;
    max-width: 20%;
    padding: 10px;
    font-family: Avenir, sans-serif;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.cancel-btn {
    padding: 20px;
    border: none;
    border-radius: 12px 0 0 12px;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    color: #EAEAEA;
    cursor: pointer;
}
.cancel-btn-dark {
    padding: 20px;
    border: none;
    border-radius: 12px 0 0 12px;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    color: #646464;
    cursor: pointer;
}
.download-btn {
    padding: 20px;
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: #5EB1FF;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.side-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.side-btns-nogap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.header-img {
    width: 100%;
}

.low {
    top: 250%;
}

h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-family: Avenir, "Times New Roman", sans-serif;
    text-align: left;
}

h6 {
    font-family: Avenir, "Times New Roman", sans-serif;
    color: #958177;
    text-align: left;
    margin-top: 5px;
}

p {
    font-family: Avenir, "Times New Roman", sans-serif;
}

ul {
    display: block;
}
li {
    list-style-type: none;
}